footer {
    background-color: $main-color-alt;
    color: $text-color;

    .address {
        padding-top: 10px;
    }

    .copy {
        padding-bottom: 10px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .social {
        .fab {
            padding: 10px;
        }
    }
}

@media (min-width: 768px) {
    footer {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr
        }

        .copy {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}